<!-- get value from params -->
{{ $imagePath:= .Get "src" }}
{{ $caption:= .Get "caption" }}
{{ $position:= .Get "position" }}
{{ $class:= .Get "class" }}
{{ $height:= replace (replace (.Get "height") "px" "") "x" "" }}
{{ $width:= replace (replace (.Get "width") "px" "") "x" "" }}
{{ $alt:= .Get "alt" }}
{{ $title:= .Get "title" }}
{{ $command:= .Get "command" | humanize }}
{{ $option:= .Get "option" }}
{{ $webp:= .Get "webp" | default true }}
{{ $zoomable:= .Get "zoomable" | default false }}


<!-- image position -->
{{ if eq $position `center` }}
  {{ .Store.Set "position" "img-center" }}
{{ else if eq $position `left` }}
  {{ .Store.Set "position" "img-left" }}
{{ else if eq $position `right` }}
  {{ .Store.Set "position" "img-right" }}
{{ else if eq $position `float-left` }}
  {{ .Store.Set "position" "img-float-left" }}
{{ else if eq $position `float-right` }}
  {{ .Store.Set "position" "img-float-right" }}
{{ end }}


<!-- check cdn image -->
{{ if or (hasPrefix $imagePath "http") (fileExists (add `static/` $imagePath)) }}
  <!-- cdn image figure -->
  {{ if $caption }}
    <figure
      class="{{ .Store.Get `position` }}"
      role="group"
      aria-describedby="caption-{{ $caption | markdownify }}">
      <img
        title="{{ $title }}"
        loading="lazy"
        decoding="async"
        src="{{ $imagePath | absURL }}"
        alt="{{ $alt }}"
        class="{{ $class }} {{ if eq $zoomable `true` }}glightbox{{ end }}"
        width="{{ $width }}"
        height="{{ $height }}" />
      <figcaption id="caption-{{ $caption | markdownify }}">
        {{ $caption | markdownify }}
      </figcaption>
    </figure>
  {{ else }}
    <!-- cdn image tag -->
    <img
      title="{{ $title }}"
      loading="lazy"
      decoding="async"
      src="{{ $imagePath | absURL }}"
      alt="{{ $alt }}"
      class="{{ $class }} {{ .Store.Get `position` }} {{ if eq $zoomable `true` }}glightbox{{ end }}"
      width="{{ $width }}"
      height="{{ $height }}" />
  {{ end }}
  <!-- /cdn image -->
{{ else }}
  <!-- content and assets image path variable -->
  {{ $contentImage:= .Page.Resources.GetMatch (printf "*%s*" $imagePath) }}
  {{ $assetImage:= fileExists (add `assets/` $imagePath) }}


  <!-- check image existence -->
  {{ if or $contentImage $assetImage }}
    <!-- content or assets folder detection -->
    {{ if $contentImage }}
      {{ .Store.Set "image-exists" $contentImage }}
    {{ else if $assetImage }}
      {{ .Store.Set "image-exists" (resources.Get $imagePath) }}
    {{ end }}

    {{ $image:= .Store.Get "image-exists" }}


    <!-- image extension -->
    {{ $imageExt := path.Ext $image }}


    <!-- image height, width (if not svg) -->
    {{ if eq $imageExt `.svg` }}
      {{ .Store.Set "image-height" "" }}
      {{ .Store.Set "image-width" "" }}
    {{ else }}
      {{ .Store.Set "image-height" $image.Height }}
      {{ .Store.Set "image-width" $image.Width }}
    {{ end }}
    {{ $imageHeight:= .Store.Get "image-height" }}
    {{ $imageWidth:= .Store.Get "image-width" }}


    <!-- checking gif/svg image -->
    {{ if or (eq $imageExt `.gif`) (eq $imageExt `.svg`) }}
      {{ .Store.Set `image` $image.RelPermalink }}
    {{ else }}
      <!-- image processing -->
      {{ $options:= add (add (add (add (string ($width | default $imageWidth)) "x") (string ($height | default $imageHeight))) " webp ") (string $option) }}

      {{ if eq $webp "false" }}
        <!-- if webp false -->
        {{ $options = add (add (add (add (string ($width | default $imageWidth)) "x") (string ($height | default $imageHeight))) " ") (string $option) }}
      {{ end }}

      <!-- end -->

      <!-- image Fit -->
      {{ if eq $command `Fit` }}
        {{ .Store.Set `image` ($image.Fit $options).RelPermalink }}
        {{ .Store.Set `fallback` ($image.Fit (replace $options `webp` ``)).RelPermalink }}
        <!-- image Fill -->
      {{ else if eq $command `Fill` }}
        {{ .Store.Set `image` ($image.Fill $options).RelPermalink }}
        {{ .Store.Set `fallback` ($image.Fill (replace $options `webp` ``)).RelPermalink }}
        <!-- image Resize -->
      {{ else }}
        {{ .Store.Set `image` ($image.Resize $options).RelPermalink }}
        {{ .Store.Set `fallback` ($image.Resize (replace $options `webp` ``)).RelPermalink }}
      {{ end }}

    {{ end }}
    <!-- /checking gif/svg image -->

    <!-- image figure -->
    {{ if $caption }}
      <figure
        class="{{ .Store.Get `position` }}"
        role="group"
        aria-describedby="caption-{{ $caption | markdownify }}">
        <img
          title="{{ $title }}"
          loading="lazy"
          decoding="async"
          class="{{ $class }} {{ if eq $zoomable `true` }}glightbox{{ end }}"
          width="{{ $width | default $imageWidth }}"
          height="{{ $height | default $imageHeight }}"
          src="{{ .Store.Get `image` }}"
          alt="{{ $alt }}"
          onerror="this.onerror='null';this.src='{{ .Store.Get `fallback` }}'" />
        <figcaption id="caption-{{ $caption | markdownify }}">
          {{ $caption | markdownify }}
        </figcaption>
      </figure>
    {{ else }}
      <!-- image tag -->
      <img
        title="{{ $title }}"
        loading="lazy"
        decoding="async"
        class="{{ $class }} {{ .Store.Get `position` }} {{ if eq $zoomable `true` }}glightbox{{ end }}"
        width="{{ $width | default $imageWidth }}"
        height="{{ $height | default $imageHeight }}"
        src="{{ .Store.Get `image` }}"
        alt="{{ $alt }}"
        onerror="this.onerror='null';this.src='{{ .Store.Get `fallback` }}'" />
    {{ end }}

  {{ else }}
    <!-- image not found -->
    <strong class="text-danger mb-3 d-inline-block"
      >{{ site.BaseURL }}{{ $imagePath }} does not exist</strong
    >
  {{ end }}
  <!-- /check image existence -->
{{ end }}
<!-- /check cdn image -->

{{ .Page.Store.Add "lightbox" 1 }}
{{ $lightbox:= .Page.Store.Get "lightbox" }}
{{ if eq $lightbox 1 }}
<script>window.addEventListener("load", (e) => {const lightbox = GLightbox()});</script>
{{ end }}
