{{ $safariThemeColor := site.Params.safari_theme_color }}
{{ $msApplicationTileColor := site.Params.ms_application_tile_color }}
{{ $chromeThemeColor := site.Params.chrome_theme_color }}

{{ if fileExists "static/apple-touch-icon.png" }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | absURL }}">
{{ end }}

{{ if fileExists "static/favicon-32x32.png" }}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">
{{ end }}

{{ if fileExists "static/favicon-16x16.png" }}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | absURL }}">
{{ end }}

{{ if fileExists "static/safari-pinned-tab.svg" }}
  <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | absURL }}" color="{{ $safariThemeColor }}">
{{ end }}

{{ if $msApplicationTileColor }}
  <meta name="msapplication-TileColor" content="{{ $msApplicationTileColor }}">
{{ end }}

{{ if $chromeThemeColor }}
  <meta name="theme-color" content="{{ $chromeThemeColor }}">
{{ end }}
