<!-- get value from params -->
{{ $imagePath:= .Get "src" }}
{{ $caption:= .Get "caption" }}
{{ $position:= .Get "position" }}
{{ $class:= .Get "class" }}
{{ $height:= replace (replace (.Get "height") "px" "") "x" "" }}
{{ $width:= replace (replace (.Get "width") "px" "") "x" "" }}
{{ $alt:= .Get "alt" }}
{{ $title:= .Get "title" }}
{{ $command:= .Get "command" | humanize }}
{{ $option:= .Get "option" }}
{{ $webp:= .Get "webp" | default true }}
{{ $zoomable:= .Get "zoomable" | default false }}


<!-- image position -->
{{ if eq $position `center` }}
  {{ .Store.Set "position" "img-center" }}
{{ else if eq $position `left` }}
  {{ .Store.Set "position" "img-left" }}
{{ else if eq $position `right` }}
  {{ .Store.Set "position" "img-right" }}
{{ else if eq $position `float-left` }}
  {{ .Store.Set "position" "img-float-left" }}
{{ else if eq $position `float-right` }}
  {{ .Store.Set "position" "img-float-right" }}
{{ end }}


<!-- check cdn image -->
{{ if or (hasPrefix $imagePath "http") (fileExists (add `static/` $imagePath)) }}
  <!-- cdn image figure -->
  {{ if $caption }}
    <figure
      class="{{ .Store.Get `position` }}"
      role="group"
      aria-describedby="caption-{{ $caption | markdownify }}">
      <img
        title="{{ $title }}"
        loading="lazy"
        decoding="async"
        src="{{ $imagePath | absURL }}"
        alt="{{ $alt }}"
        class="img {{ $class }} {{ if eq $zoomable `true` }}
          glightbox
        {{ end }}"
        width="{{ $width }}"
        height="{{ $height }}" />
      <figcaption id="caption-{{ $caption | markdownify }}">
        {{ $caption | markdownify }}
      </figcaption>
    </figure>
  {{ else }}
    <!-- cdn image tag -->
    <img
      title="{{ $title }}"
      loading="lazy"
      decoding="async"
      src="{{ $imagePath | absURL }}"
      alt="{{ $alt }}"
      class="img {{ $class }} {{ .Store.Get `position` }} {{ if eq $zoomable `true` }}
        glightbox
      {{ end }}"
      width="{{ $width }}"
      height="{{ $height }}" />
  {{ end }}
  <!-- /cdn image -->
{{ else }}
  <!-- content and assets image path variable -->
  {{ $contentImage:= .Page.Resources.GetMatch (printf "*%s*" $imagePath) }}
  {{ $assetImage:= fileExists (add `assets/` $imagePath) }}


  <!-- check image existence -->
  {{ if or $contentImage $assetImage }}
    <!-- content or assets folder detection -->
    {{ if $contentImage }}
      {{ .Store.Set "image-exists" $contentImage }}
    {{ else if $assetImage }}
      {{ .Store.Set "image-exists" (resources.Get $imagePath) }}
    {{ end }}

    {{ $image:= .Store.Get "image-exists" }}


    <!-- image extension -->
    {{ $imageExt := path.Ext $image }}


    <!-- image height, width -->
    {{ .Store.Set "image-height" "" }}
    {{ .Store.Set "image-width" "" }}
    {{ if not (or $height $width) }}
      {{ .Store.Set "image-height" $image.Height }}
      {{ .Store.Set "image-width" $image.Width }}
    {{ end }}
    {{ $imageHeight:= .Store.Get "image-height" }}
    {{ $imageWidth:= .Store.Get "image-width" }}
    {{ .Store.Set `caption-name` (replaceRE `[^-a-zA-Z0-9]` `` (replace $caption ` ` `-`)) }}


    <!-- checking gif/svg image -->
    {{ if or (eq $imageExt `.gif`) (eq $imageExt `.svg`) }}
      {{ .Store.Set `image` $image.RelPermalink }}
      {{ .Store.Set `image-height` $height }}
      {{ .Store.Set `image-width`  $width }}
    {{ else }}
      <!-- image processing -->
      {{ $options:= add (add (add (add (string ($width | default $imageWidth)) "x") (string ($height | default $imageHeight))) " webp ") (string $option) }}

      {{ if eq $webp "false" }}
        <!-- if webp false -->
        {{ $options = add (add (add (add (string ($width | default $imageWidth)) "x") (string ($height | default $imageHeight))) " ") (string $option) }}
      {{ end }}


      <!-- end -->

      <!-- image Fit -->
      {{ if eq $command `Fit` }}
        {{ .Store.Set `newimage`  ($image.Fit $options) }}
        {{ .Store.Set `fallback` ($image.Fit (replace $options `webp` ``)).RelPermalink }}
        <!-- image Fill -->
      {{ else if eq $command `Fill` }}
        {{ .Store.Set `newimage`  ($image.Fill $options) }}
        {{ .Store.Set `fallback` ($image.Fill (replace $options `webp` ``)).RelPermalink }}
        <!-- image Resize -->
      {{ else }}
        {{ .Store.Set `newimage`  ($image.Resize $options) }}
        <!-- {{ .Store.Set `image` ($image.Resize $options).RelPermalink }} -->
        {{ .Store.Set `fallback` ($image.Resize (replace $options `webp` ``)).RelPermalink }}
      {{ end }}
      {{ .Store.Set `image` (.Store.Get `newimage`).RelPermalink }}
      {{ .Store.Set `image-height` (.Store.Get `newimage`).Height }}
      {{ .Store.Set `image-width`  (.Store.Get `newimage`).Width }}

    {{ end }}
    <!-- /checking gif/svg image -->

    <!-- image figure -->
    {{ if $caption }}
      <figure
        class="{{ .Store.Get `position` }}"
        role="group"
        aria-describedby="caption-{{ $caption | markdownify }}">
      {{ if eq $zoomable `true` }}
        <a
          href="{{ $image.RelPermalink }}"
          class="glightbox" data-glightbox="description: .caption-{{ .Store.Get `caption-name` }}">
      {{ end }}
          <img
            title="{{ $title }}"
            loading="lazy"
            decoding="async"
            class="img {{ $class }}"
            width="{{ .Store.Get `image-width` }}"
            height="{{ .Store.Get `image-height` }}"
            src="{{ .Store.Get `image` }}"
            alt="{{ $alt }}"
            onerror="this.onerror='null';this.src='{{ .Store.Get `fallback` }}'" />
      {{ if eq $zoomable `true` }}
        </a>
      {{ end }}
        <figcaption id="caption-{{ $caption | markdownify }}" class="caption-{{ .Store.Get `caption-name` }}">
          {{ $caption | markdownify }}
        </figcaption>
      </figure>
    {{ else }}
      <!-- image tag -->
      {{ if eq $zoomable `true` }}
        <a
          href="{{ $image.RelPermalink }}"
          style="display: block;"
          class="glightbox">
      {{ end }}
          <img
            title="{{ $title }}"
            loading="lazy"
            decoding="async"
            class="img {{ $class }} {{ .Store.Get `position` }}"
            width="{{ .Store.Get `image-width` }}"
            height="{{ .Store.Get `image-height` }}"
            src="{{ .Store.Get `image` }}"
            alt="{{ $alt }}"
            onerror="this.onerror='null';this.src='{{ .Store.Get `fallback` }}'" />
      {{ if eq $zoomable `true` }}
        </a>
      {{ end }}
    {{ end }}

  {{ else }}
    <!-- image not found -->
    <strong style="color:red; margin-bottom:15px; display:inline-block;"
      >{{ site.BaseURL }}{{ $imagePath }} does not exist</strong
    >
  {{ end }}
  <!-- /check image existence -->
{{ end }}
<!-- /check cdn image -->

{{ .Page.Store.Add "lightbox" 1 }}
{{ $lightbox:= .Page.Store.Get "lightbox" }}
{{ if eq $lightbox 1 }}
  <script>
    window.addEventListener("load", (e) => {
      const lightbox = GLightbox();
    });
  </script>
{{ end }}
